<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>common</display-name>
  
  <context-param>
    <param-name>JDBCDriver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>ConnectionURL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1522:orcl</param-value>
  </context-param>
  <servlet>
    <servlet-name>MapSearch</servlet-name>
    <servlet-class>mapController.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapSearch</servlet-name>
    <url-pattern>/map/haha</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdrealCheck</servlet-name>
    <servlet-class>member.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdrealCheck</servlet-name>
    <url-pattern>/registerCheck.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>controller.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/member/regis.do</url-pattern>
  </servlet-mapping>
  
  <!-- 회원로그인 -->
  <servlet>
  	<servlet-name>MemberLoginProcess</servlet-name>
  	<servlet-class>member.LoginProc</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MemberLoginProcess</servlet-name>
  	<url-pattern>/Member/LoginProc</url-pattern>
  </servlet-mapping>
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>